<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Food Distribution</title>
  <meta content = "width = device-width, initial-scale=1.0" name="viewport">
  <meta content = "" name = "keywords">
  <meta content = "" name = "description">

  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet"> 
  <!--"lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->


  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

  <header id="header">
    <div class="container">

		<div id = "Title">
		<label id = "logo">TIFFIN FOOD</label>
		</div>

		<nav id="nav-menu-container">
		<ul class="nav-menu">
		  <li class="menu-active"><a href="index.html">Home</a></li>
		  <li><a href="login.html">SignIn</a></li>
		  <li><a href="signup.html">SignUp</a></li>
		  <li><a href="contact.html">Contact</a></li>
		</ul>
		</nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Sign In<br> to get Food</h1>
      <a href="login.html" class="about-btn scrollto">SignIn</a>
    </div>
  </section>

  

  <!-- JavaScript Libraries -->
  <script src="../static/js/lib/jquery/jquery.min.js"></script>
  <script src="../static/js/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/js/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/lib/easing/easing.min.js"></script>
  <script src="../static/js/lib/superfish/hoverIntent.js"></script>
  <script src="../static/js/lib/superfish/superfish.min.js"></script>
  <script src="../static/js/lib/wow/wow.min.js"></script>
  <script src="../static/js/lib/venobox/venobox.min.js"></script>
  <script src="../static/js/lib/owlcarousel/owl.carousel.min.js"></script>

  
  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>
</body>

</html>
